body {
  font-family: Audiowide;
  background-image: url(images/game_board_background.jpg);
  background-repeat: no-repeat;
}

#header {
  width 100vw;
  min-height: 15vh;
  background-color: rgba(102, 102, 102, .7);
}

#header img{
  height: 15vh;
  float: left;
}

.header_menu {
  text-align: center;
  margin: 0;
}

.game_menu {
  margin: 0;
  font-size: 4vmin;
}

.game_title {
  margin-top: 1%;
  margin-bottom: 0;
  padding-bottom: 2vh;
  font-size: 5vmin
}

.game_title a {
  margin-bottom: 2%;
}

#header a {
  text-decoration: none;
  color: red;
}

#header a:hover{
  color: blue;
}

.main-container {
  width:90vw;
  margin-left: 5vw;
  height: 85vh;
}

.stats-container {
  height: 75vh;
  width: 15vw;
  background-color: rgba(102, 102, 102, .7);
  color: red;
  float: left;
  margin-top: 5vh;
  position: relative;
}

.stats{
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.stats h3 {
  font-size: 5vmin;
}

.stats li {
  font-size: 3vmin;
}

.reset{
  margin-left: 30%;
  width: 50%;
  font-size: 1vmin;
}

#game-area{
  width: 80%;
  height:75vh;
  float: right;
  margin-top: 5vh;
}

.row {
  margin-left: 1%;
  margin-top: 3%;
}

.back {
  background-image:url(images/card_background.jpg);
  background-position: center;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  width: 7vw;
  position: absolute;
}

.front{
  background-image:url(images/card_background.jpg);
  background-position: center;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  width: 7vw;
  position: absolute;
}

.front img {
  width: 5vw;
  height: 20vh;
  margin-left:15%;
}

.back img {
  width: 5vw;
  height: 20vh;
  margin-left:15%;
}

.row2 {
  position: relative;
  top: 25%;
}

.row3 {
  position: relative;
  top: 50%;
}

.win {
  color:red;
}

#about_me_photo {
float: left;
}

#about_me_photo img {
  width: 30vw;
}

#about_me_details {
  margin-top: 10vh;
  text-align: center;
  color:red;
  width: 60vw;
  margin-left: 10%;
}

#about_me_details a {
  text-decoration: none;
  color: black;
}

#about_me_details ul {
  list-style-type: none;
}
